.play-area{
    height: 50vh;
}

body{
    /* background-color: black; */
}

.play-area{
    margin-top:5%;
    border:1px dashed black;
    /* padding-right: 250px; */
}

#user img, #cpu img{
    max-width:100%;
}



@media screen and (min-width: 500px) {
/* #min-contain{
    min-width: 510px;
}

    #user{
        background-color:lightgrey;
        border-right:5px solid white;
        padding-right: 0px;
    }

    #cpu{
        background-color:darkgrey;
    } */

}