.choice-group{
    text-align: center;
}

.choice-tiles{
    display:inline-block;
    /* border:1px dashed red; */
    width:29%;
    margin:0 5px;

}


.choice-tiles:active{
    background-color: rgb(103, 156, 226);
    border:3px inset grey;
}

